* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
    background: rgb(0, 0, 0);
    margin:5px;
    height: 200px;
    left: 100px;
    perspective: 1500px;
    perspective-origin: 50% 50%;
    position: relative;
    top: 100px;
    width: 150px;
    text-align:center;
}

.container p {
    text-align:center;
    margin-top: 5px;
    color:white;
}

.container::before {
    transform: rotateY(-180deg);
    transform-origin: right center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover .door1 {
    transform:rotateY(30deg);
}

.door1 {
    background: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    width:150px;
    height:200px;
    transform-origin: left center;
    transition: transform 0.3s;
}