* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: rgb(0, 0, 0);
    height: 200px;
    left: 100px;
    perspective: 1500px;
    perspective-origin: 50% 50%;
    position: relative;
    top: 100px;
    width: 150px;
    text-align: center;
}

.container p {
    text-align: center;
    margin-top: 5px;
    color: black;
}

.container::before {
    transform: rotateY(-180deg);
    transform-origin: right center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover .door2 {
    transform: rotateY(30deg);
}

.door2 {
    border: 1px solid black;
    background-color: rgb(93, 35, 165);
    width: 150px;
    height: 200px;
    transform-origin: left center;
    transition: transform 0.3s;
}

.door2 > img {
    width: 150px;
    height: 198px;
}

.door2 > Link {
    text-decoration: none;
}